<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ggwwazfn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6c6cbc49-b5eb-407b-807d-c94dc20cca77/resourceGroups/bigdata/providers/Microsoft.Web/sites/ggwwazfn</ResourceId>
    <UserName>$ggwwazfn</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://ggwwazfn.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>